<app-menu></app-menu>
<div *ngIf="mostrar===true" class="text-center ">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
<table  *ngIf="mostrar===false"  class="table" id="tablaTurn" style="background-color: rgb(0, 0, 0);color:white">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Especialista</th>
            <th>Salon</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let turno of listadoTurnos">
           
                <td>{{turno.fecha}}</td>
                <td>{{turno.especialista}}</td>
                <td>{{turno.sala}}</td>
         
        </tr>
    </tbody>
</table>